<body>
<div class="container-fluid nopadding" >
  <div class="row" style="height:100vh">
  <div class="col-md-6 nopadding">
    <img src="/assets/teacher.jpg" alt="Avatar" >
    <div class="middle-container">
    <div class="middle">
    <h2>Teacher</h2>
    <p>Login as a teacher and perform a roll call</p>
    <button type="button" class="btn btn-success" [routerLink]="['/teacher/login']">Teacher login</button>
  </div>
  </div>
</div>
  <div class="col-md-6 nopadding">
    <img src="/assets/student.jpg" alt="Avatar" >
    <div class="middle-container">
    <div class="middle">
    <h2>Student</h2>
    <p>Login as a student and checkin</p>
    <button type="button" class="btn btn-success" [routerLink]="['/']">Student login</button>
</div>
</div>
</div>
</div>
</div>
</body>
